* {
	padding:0;
	margin:0;
	font-family: sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}
.medsos	{
	padding:5px 0;
	background-color: #7f0000;
}
.medsos ul li {
	display: inline-block;
	color: #fff;
	margin-right: 10px;
	font-style: italic;
}
.container {
	width:80%;
	margin:0 auto;
}
.container:after {
	content:'';
	display: block;
	clear: both;
}
header h1 {
	float: left;
	padding:15px 0;
	color: #000000;
}
header ul {
	float: right;
}
header ul li {
	display: inline-block;
}
header ul li a {
	padding:25px 20px;
	display: inline-block;
}
header ul li a:hover {
	background-color: #7f0000;
}
.active {
	background-color: #7f0000;
	color: #fff;
}
.banner {
	height: 50vh;
	border: 1px solid;
	background-image: url('../img/banner.jpg');
	background-size: cover;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner:after {
	content:'';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.banner h2 {
	color: #fff;
	z-index: 1;
	padding: 20px 25px;
	border: 0px solid #fff;
}
section {
	padding: 50px 0;
}
section h3 {
	text-align: center;
	padding: 20px 0;
	color: #7f0000;
	margin-bottom: 20px;
}
.about p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.box {
	color: #7f0000;
}
.box .col-4 {
	width:29%;
	padding:20px;
	text-align: center;
	float: left;
}
.box .col-4 h4 {
	margin:20px 0;
}
footer {
	padding:30px 0;
	background-color: #666;
	color: #fff;
	text-align: center;
}
.label {
	background-color: #7f0000;
	color: #fff;
}
@media screen and (max-width: 768px){
	.container {
		width:90%;
	}
	header h1 {
		text-align: center;
		float: none;
	}
	header ur {
		text-align: center;
		float: none;
	}
	.box .col-4 {
		width: 100%;
		float: none;
		margin-bottom: 20px;
	}
}
img {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
}
.about1 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
	float: none;
}
.about2 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.about3 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.about4 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.about5 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.about6 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}
.about7 p {
	color: #666;
	word-spacing: 2px;
	line-height: 25px;
	margin-bottom: 20px;
	text-align: center;
}